@{
    ViewBag.Title = "About";
}
<!--using pre-defined css.-->
<link href="~/Content/Peiyuan-Defined css.css" rel="stylesheet" />

<style>
    div.first {
        background-image: url('../../Image/Elder-Frontpage.jpg');
        height: 200px;
    }

    h1.title {
        position: relative;
        top: 40%;
        text-align: center;
        color: white;
    }
</style>
<div class="first">
    <h1 class="title" style="font-family: 'Times New Roman', Times, serif">
        <i>About Us</i>
    </h1>

</div>

<div class="sub-module">
    <ul class="breadcrumb">
        <li><a href="/Home">Home</a></li>
        <li class="active">About Us</ a></li>
    </ul>
</div>

<!--Team intro section-->
<div class="sub-module">
    <hr>
    <div class="row">
        <div class="col-md-4">

            <img src="~/Image/TeamLogo.png" width="250" />

        </div>

        <div class="col-md-8">
            <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif">
                Joyful Longevity
            </h3>
            <p style="text-align: justify;">
                This team is the team TP08 of FIT50120 of Information Technology Faculty of Monash Unibersity. Our mission is to focus on the health and well-being of the elderly, to help their family members take better care of the elderly,
                to provide them with information support, so that the elderly can be widely concerned by the society and the public.
            </p>
        </div>
    </div>
</div>
<!--Silpi Section-->
<div class="sub-module">
    <hr>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Image/Silpi.png" width="150" />
        </div>

        <div class="col-md-8">
            <h3>
                Silpi Dutta
            </h3>
            <h4>
                Master of data science
            </h4>
            <p style="text-align:justify">
                Technical Skills: Python, R, Java, JavaScript, HTML, SQL<br>
                Responsibility: Collecting the data, data wrangle it, checking the copyrights, working the analytical and coding aspects of website<br>
                Email Addess: sdut0007@student.monash.edu
            </p>
        </div>
    </div>
</div>

<!--Peiyuan Section-->
<div class="sub-module">
    <hr>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Image/Peiyuan.png" width="150"/>
        </div>

        <div class="col-md-8">
            <h3>
                Peiyuan Zhu
            </h3>
            <h4>
                Master of Information Technology
            </h4>
            <p style="text-align:justify">
                Technical skills: C++, java, python, security, MVC architecture web app development<br>
                Responsibility: Implementation of coding<br>
                Email Addess: pzhu0004@student.moansh.edu
            </p>
        </div>
    </div>
</div>

<!--Zong Section-->
<div class="sub-module">
    <hr>
    <div class="row">
        <div class="col-md-4">

            <img src="~/Image/Zongyang.png" width="150"/>
        </div>

        <div class="col-md-8">
            <h3>
                Zongyang Deng
            </h3>
            <h4>
                Master of Information Technology
            </h4>
            <p style="text-align:justify">
                Technical skills: Java, JavaScript, html, SQL, MVC architecture web app development<br>
                Responsibility: implementing the code of website<br>
                Email Addess: zden0013@student.monash.edu
            </p>
        </div>
    </div>
</div>

<!--Mingyi Section-->
<div class="sub-module">
    <hr>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Image/Mingyi.png" width="150"/>
        </div>

        <div class="col-md-8">
            <h3>
                Mingyi Du
            </h3>
            <h4>
                Master of Business Information Systems
            </h4>
            <p style="text-align:justify">
                Technical skills: SQL, UI design, Business Analysis<br>
                Responsibility: Business analysis, reporting, test, UI design<br>
                Email Addess: mduu0007@student.monash.edu
            </p>
        </div>
    </div>
</div>

<!--Bei Section-->
<div class="sub-module">
    <hr>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Image/Bei.png" width="150"/>
        </div>

        <div class="col-md-8">
            <h3>
                Bei Wang
            </h3>
            <h4>
                Master of Business Information Systems
            </h4>
            <p style="text-align:justify">
                Technical skills: UI design, Business Analysis<br>
                Responsibilities: Business analysis and reporting, design website interface<br>
                Email Addess: bwan0036@student.monash.edu
            </p>
        </div>
    </div>
</div>
