@{
    ViewBag.Title = "Elder abuse in nursing home";
}
<link href="~/Content/Peiyuan-Defined css.css" rel="stylesheet" />
<div class="sub-module">
    <ul class="breadcrumb">
        <li><a href="/Home">Home</a></li>
        <li><a href="/Home/ElderAbuseInformation">Elder Abuse Info</a></li>
        <li class="active">Elder abuse in a nursing home</a></li>
    </ul>

    <div class="article">
        Display the content of the article ↓
    </div>
    <audio controls="controls">
        <source src="~/Audio/ElderAbuseInNursingHome.mp3" type="audio/mp3" />
    </audio>
    <!--第一行，标题，简单介绍，以及视频-->
    <div class="row">
        <br><br><br>
        <div class="col-md-6">
            <div class="article-title" style="font-size:xx-large"><i>Elder abuse in a nursing home</i></div>
            <div class="article" style="text-align:justify">
                Elderly abuse in nursing homes refers to the injuries suffered by the elderly in nursing homes, including physical abuse, mental abuse, sexual abuse, financial abuse and Nursing home neglect. These abuses may be caused by co-residents, relatives or caregivers.<br>
                According to experimental estimates by the Office of the Royal Commission into Aged Care Quality and Safety (2020), about 39.2 percent of people living in Australian aged care facilities experience elder abuse.<br><br><br><br>
            </div>
        </div>

        <div class="col-md-6">
            <!--这里用的嵌入式视频，可以调大小-->
            <iframe width="400" height="200" src="https://www.youtube.com/embed/doPcEd-_o28" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>
    <!--第二行，子标题，正文，以及learnmore 带连接-->
    <div class="row">
        <div class="col-md-12">
            <div class="article-title" style="font-size:xx-large"><i>Types of Nursing Home Elder Abuse</i></div>
            <div class="article" style="text-align:justify">
                There are five types of nursing home elder abuse: physical abuse, mental abuse, sexual abuse, financial abuse, and Nursing home neglect. When the staff of nursing homes, other residents, or relatives of the elderly deliberately cause harm to the elderly, they are committing abuse.<br>
                Among these types of elder abuse, it is estimated that 30.8% of the elderly have experienced neglect, 22.6% have experienced mental abuse, and 5% have experienced physical abuse ("Elder Abuse in Australian Aged Care Facilities", 2021).
            </div>
        </div>
        <div class="article" style="text-align:right">
            <a class="btn btn-default" href="/Home/TypesOfAbuse">Learn more &raquo;</a>
        </div>
    </div>
</div>


<div class="sub-module">
    <div>
        <div class="article-title" style="font-size:xx-large"><i>Warning Signs</i></div>
    </div>
    <br>
    <div class="article" style="text-align:justify">
        It is difficult to identify the abuse in a nursing home, because it is difficult to know whether the elderly was harmed when we were absent.
        So, it is essential to recognize the signs of abuse, these signs can help us identify whether the elderly have been abused and help us prevent abuse.
    </div>

</div>


<!--Signs of Physical Abuse-->
<div class="sub-module">
    <div class="row">
        <div class="col-md-4">
            <div class="article-title" style="font-size:25px"><i>Signs of Physical Abuse:</i></div>
        </div>
        <div class="col-md-8">
            <div class="article">
                <p>
                    <li>Unexplained scrapes, cuts, bruises, or fractures.</li>
                    <li>Unexplained weight loss.</li>
                </p>
            </div>
        </div>
    </div>
</div>

<!--Signs of Emotional Abuse-->
<div class="sub-module">
    <div class="row">
        <div class="col-md-4">
            <div class="article-title" style="font-size:25px"><i>Signs of Emotional Abuse:</i></div>
        </div>
        <div class="col-md-8">
            <div class="article">
                <p>
                    <li>Sudden changes in habits or behaviour.</li>
                    <li>Easily frightened.</li>
                    <li>Anxiety and depression.</li>
                    <li>Complaining about treatment.</li>

                </p>
            </div>
        </div>
    </div>
</div>

<!--Signs of Sexual Abuse-->
<div class="sub-module">
    <div class="row">
        <div class="col-md-4">
            <div class="article-title" style="font-size:25px"><i>Signs of Sexual Abuse:</i></div>
        </div>
        <div class="col-md-8">
            <div class="article">
                <p>
                    <li>Unexplained STD.</li>
                    <li>Broken underwear.</li>
                    <li>Genital injury.</li>
                </p>
             </div>
        </div>
    </div>
</div>

<!--Signs of Financial Abuse-->
<div class="sub-module">
    <div class="row">
        <div class="col-md-4">
            <div class="article-title" style="font-size:25px"><i>Signs of Financial Abuse:</i></div>
        </div>
        <div class="col-md-8">
            <div class="article">
            <p>
                <li>Unexplainable expenditure.</li>
                <li>Unexplained reduction of property.</li>

            </p>
            </div>
        </div>
    </div>
</div>

<!--Signs of Neglect-->
<div class="sub-module">
    <div class="row">
        <div class="col-md-4">
            <div class="article-title" style="font-size:25px"><i>Signs of Neglect:</i></div>
        </div>
        <div class="col-md-8">
            <div class="article">
            <p>
                <li>Lack of personal hygiene.</li>
                <li>Bedsores.</li>
                <li>Unexplained weight loss.</li>
                <li>Chronic dehydration.</li>
                <li>Did not get immediate treatment.</li>
                <li>Failure to report the situation of the elderly to the family in time.</li>
                <li>Do not change clothes or diapers for a long time.</li>
            </p>
            </div>
        </div>
    </div>
</div>

<div>
    Resources:<br><a href="https://www.health.gov.au/health-topics/aged-care">https://www.health.gov.au/health-topics/aged-care</a><br>
    <a href="https://agedcare.royalcommission.gov.au/news-and-media/elder-abuse-australian-aged-care-facilities">
    https://agedcare.royalcommission.gov.au/news-and-media/elder-abuse-australian-aged-care-facilities</a><br>
    <a href="https://www.nursinghomeabusecenter.com/elder-abuse/prevention/">https://www.nursinghomeabusecenter.com/elder-abuse/prevention/</a>

</div>