@{
    ViewBag.Title = "How to help";
}

    <link href="~/Content/Peiyuan-Defined css.css" rel="stylesheet"/>

<!--The title, and the video that will be used-->
    <div class="sub-module">
        <ul class="breadcrumb">
            <li><a href="/Home">Home</a></li>
            <li><a href="/Home/ElderAbuseInformation">Elder Abuse Info</a></li>
            <li class="active">How to help</a></li>
        </ul>

        <div class="article">
            Display the content of the article ↓
        </div>
        <audio controls="controls">
            <source src="~/Audio/How to help.mp3" type="audio/mp3" />
        </audio>

        <div class="row">
            <div class="col-md-6">
                <div class="article-title" style="font-size:xx-large">
                    <i>How to help</i>
                </div>
                <div class="article">
                    If you or someone you know is in immediate danger, please contact Victoria Police on 000.<br>
                    If you or you find that an elderly person is being abused and would like to receive information and advice, please call the Seniors Rights Victoria on 1300 368 821. You can get legal, advocacy and referral services from this free helpline funded by the Victorian Government by clicking:
                    <a href="https://www.seniorsonline.vic.gov.au/services-information/elder-abuse">here</a><br><br><br><br>
                </div>
            </div>
            <div class="col-md-2">
                <p>
                    <img src="~/Image/Elder and carer.png" width="450" height="300" />
                </p>
            </div>
        </div>
        <hr>


        <div class="sub-module">
            <div class="row">
                <div class="col-md-6">
                    <div class="article-title" style="font-size:25px"><i>You can prevent elder abuse in nursing homes by:</i></div>
                </div>
                <div class="col-md-6">
                    <div class="article">
                        <ol>
                            <li><a href="/Home/HowToIdentify">Being aware of how to identify elder abuse.</a></li>
                            <li><a href="/Home/ElderAbuseInNursingHome">Being aware of the type and the sign of elder abuse</a></li>
                            <li> Visit the elderly regularly.</li>
                            <li>Research carefully when choosing a nursing home</li>
                            <li><a href="/Home/MelbourneNursingHome">View government reports on nursing home standards</a></li>
                            <li>If abuse is found, remove the elderly from the nursing home immediately</li>
                            <li>Report to the authorities in time</li>
                            <li>Consider legal action, get help from the Seniors Rights Victoria on 1300 368 821</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div>
            Resource:<br>
            <a href="https://www.health.gov.au/health-topics/aged-care">https://www.health.gov.au/health-topics/aged-care</a><br>
            <a href="https://agedcare.royalcommission.gov.au/news-and-media/elder-abuse-australian-aged-care-facilities">https://agedcare.royalcommission.gov.au/news-and-media/elder-abuse-australian-aged-care-facilities</a><br>
            <a href="https://www.nursinghomeabusecenter.com/elder-abuse/prevention/">https://www.nursinghomeabusecenter.com/elder-abuse/prevention/</a>
        </div>
    </div>

