@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/index.css" rel="stylesheet" />
<link href="~/Content/Peiyuan-Defined css.css" rel="stylesheet" />


<div class="first" style="background-image: url('../../Image/Elder-Frontpage.jpg')">
    <h1 class="title" style="font-family: 'Times New Roman', Times, serif">
        <i>CareInfoProvider Welcomes you</i>
    </h1>
    <h1 class="title" style="font-family: 'Times New Roman', Times, serif"><i>A place to learn and share knowledge</i></h1>
</div>

@*<div class="sub-module">
        <hr>
        <div class="row">
            <div class="col-md-4">
                <img src="~/Image/elder2.png" width="300"/>
                <h3>
                    <a href="/Home/PreventionMethod">What is elder abuse ?</a>
                </h3>

            </div>

            <div class="col-md-8">
                <h3 style="text-align:center">
                    Elder Abuse
                </h3>
                <p style="text-align:justify">
                    <b>Elder abuse</b> (also called <b>"elder mistreatment", "senior abuse", "abuse in later life", "abuse of older adults", "abuse of older women", and "abuse of older men"</b>)
                    is "a single, or repeated act, or lack of appropriate action, occurring within any relationship where there is an expectation of trust, which causes harm or distress to an older person."
                    This definition has been adopted by of the World Health Organization (WHO) from a definition put forward by Action on Elder Abuse in the UK.
                    Laws protecting the elderly from abuse are similar to and related to laws protecting dependent adults from abuse.
                    According to experimental estimates by the Office of the Royal Commission into Aged Care Quality and Safety (2020).
                    About 39.2 percent of people living in Australian aged care facilities experience elder abuse

                </p>
                <p>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Help &raquo;</a>
                </p>
            </div>
        </div>
    </div>*@

<div class="sub-module">
    <div class="row">
        <div class="col-md-4" style="background-image: url('../../Image/elder2.450.png'); height: 300px">

        </div>
        <div class="col-md-8" style="background-image:linear-gradient(to right,Bisque, White); height: 300px">
            <br><br><br><br><br><br>
            <p style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size:25px">
                <i>To learn everything there is to know about Elder Abuse.</i>
            </p>
            <p style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size:20px">
                <a href="/Home/ElderAbuseInformation"><i><br>Learn More</i></a>
            </p>
        </div>
    </div>
</div>

@*<div>
        <hr>
        <div class="second">
            <h3 >
                <a>Statistic</a>
            </h3>
            <p>
                Elder abuse (also called "elder mistreatment", "senior abuse", "abuse in later life", "abuse of older adults", "abuse of older women", and "abuse of older men") is "a single, or repeated act,
                or lack of appropriate action, occurring within any relationship where there is an expectation of trust, which causes harm or distress to an older person."
                This definition has been adopted by of the World Health Organization (WHO) from a definition put forward by Action on Elder Abuse in the UK.
                Laws protecting the elderly from abuse are similar to and related to laws protecting dependent adults from abuse.
            </p>

        </div>
        <img class="second" src="~/Image/elder3.png" width="400" />
        <br><br>
        <hr>
    </div>*@

<div class="sub-module">
    <div class="row">

        <div class="col-md-6" style="        background-image: linear-gradient(to left,PaleVioletRed, White);
        height: 300px">
            <br><br><br><br><br><br>
            <p style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size:25px">
                <i>Statistics on Abuse of the Elderly.</i>
            </p>
            <p style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size:20px">
                <a href="/Home/Statistics"><i><br>Learn More</i></a>
            </p>
        </div>

        <div class="col-md-6" style="background-image: url('../../Image/elder3.600.png'); height: 300px ">

        </div>
    </div>
</div>

@*<div class="sub-module">

        <div class="row">
            <div class="col-md-4">
                <img src="~/Image/elder4.png" / width="300">
                <h3>
                    <a href="/Home/PreventionMethod">Melbourne Nursing Home</a>

                </h3>

            </div>

            <div class="col-md-8">
                <h3 style="text-align:center">
                    Melbourne Nursing Home
                </h3>
                <p style="text-align:justify">
                    <b>Elder abuse</b> (also called <b>"elder mistreatment", "senior abuse", "abuse in later life", "abuse of older adults", "abuse of older women", and "abuse of older men"</b>)
                    is "a single, or repeated act, or lack of appropriate action, occurring within any relationship where there is an expectation of trust, which causes harm or distress to an older person."
                    This definition has been adopted by of the World Health Organization (WHO) from a definition put forward by Action on Elder Abuse in the UK.
                    Laws protecting the elderly from abuse are similar to and related to laws protecting dependent adults from abuse.
                </p>
                <p>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Help &raquo;</a>
                </p>
            </div>
        </div>

    </div>*@

<div class="sub-module">
    <div class="row">



        <div class="col-md-8" style=" height:300px; background-image: url('../../Image/elder4.png');">

        </div>
        <div class="col-md-4" style="background-image: linear-gradient(to left,LightBlue, White);
        height: 300px">
            <br><br><br><br><br><br>
            <p style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size:25px">
                <i>Find nursing homes in Melbourne for your elderly.</i>
            </p>
            <p style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size:20px">
                <a href="/Home/MelbourneNursingHome"><i><br>Learn More</i></a>
            </p>
        </div>
    </div>
</div>


@*<div>
        <div>
            <h3>
                Scene Simulation<br>
            </h3>
            <h4>Learn in games</h4>
            <br>
        </div>


        <div class="third">
            <p>
                <b>Elder abuse</b> (also called <b>"elder mistreatment", "senior abuse", "abuse in later life", "abuse of older adults", "abuse of older women", and "abuse of older men"</b>)
                is "a single, or repeated act, or lack of appropriate action, occurring within any relationship where there is an expectation of trust, which causes harm or distress to an older person."
                This definition has been adopted by of the World Health Organization (WHO) from a definition put forward by Action on Elder Abuse in the UK.
                Laws protecting the elderly from abuse are similar to and related to laws protecting dependent adults from abuse.

            </p>
        </div>
        <img class="third" src="~/Image/simulation.png" width="200" />
        <div style="float:right"><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></div>
        <br><hr>
    </div>*@

<div class="sub-module">
    <div class="row">

        <div class="col-md-6" style="background-image: linear-gradient(to left,LightSeaGreen, White);
        height: 300px">
            <br><br><br><br><br><br>
            <p style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size:25px">
                <i>Play and learn do you identify Elder Abuse.</i>
            </p>
            <p style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size:20px">
                <a href="/Home/PreventionMethod"><i><br>Learn More</i></a>
            </p>
        </div>

        <div class="col-md-6" style="background-image: url('../../Image/elder5.600.jpg'); height: 300px ">

        </div>
    </div>
</div>