@{
    ViewBag.Title = "Statistics";
}
 <link href="~/Content/Peiyuan-Defined css.css" rel="stylesheet" />
 <div class="sub-module">

     <div class="row" style="text-align:center;font-family:Calibri">
         <font color="dimgrey" size="400">
             Effects of Elder Abuse
         </font>
     </div>
     <ul class="breadcrumb">
         <li><a href="~/Home">Home</a></li>
         <li class="active">statistics</li>
     </ul>
     <br />
     <!--part 1.-->
     <div class="article-subtitle">
         <strong> 1: Average self harm rate (by state)</strong>
     </div>
     <br />
     <br />
     <div class="row" style="text-align:center">
         <div style="background-color:lightgrey;border:solid">
             <div style="font-size:medium">
                 <font size="4">
                     Due to the elder abuse many elderlies in Australia self-harm themselves or their mental health gets
                     ruined. Below you can see each state average hospitalisation rate due to self- harm.
                 </font>
                 
             </div>
         </div>
     </div>

     <br />
     <br />

     <div class="row">
         @*<div class='tableauPlaceholder' id='viz1617264887431' style='position: relative'><noscript><a href='#'><img alt='Average Rate of Hospitalisation Due to Self Harm for each State ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;Sexratio_16172478454010&#47;Map&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Sexratio_16172478454010&#47;Map' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;Sexratio_16172478454010&#47;Map&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-GB' /><param name='filter' value='publish=yes' /></object></div>
        <script type='text/javascript'>
            var divElement = document.getElementById('viz1617264887431'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>*@

         <div class='tableauPlaceholder' id='viz1618233091769' style='position: relative'><noscript>< a href=' '>< img alt='Hospitalisation Due to Self Harm Based on State ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;TN&#47;TNKF3S6MB&#47;1_rss.png' style='border: none' /></ a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;TNKF3S6MB' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;TN&#47;TNKF3S6MB&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-GB' /><param name='filter' value='publish=yes' /></object></div>
         <script type='text/javascript'>var divElement = document.getElementById('viz1618233091769'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

     </div>

     <br />
     <br />

     <div class="row">
         <div class="col-md-4">
             <img src="~/Image/block1.png" width="300" height="200" />
         </div>
         <div class="col-md-4">
             <img src="~/Image/block2.png" width="300" height="200" />
         </div>
         <div class="col-md-4">
             <img src="~/Image/block3.png" width="300" height="200" />
         </div>
     </div>
     <br />
     <br />
     <div class="row" style="text-align:center">
         <div style="background-color:lightgrey;border:solid">
             <div style="font-size:medium">
                 We can see that women are getting impacted more by the abuse due to that they are getting  admitted more. Below you can see each state statistics about hospitalisation due to self-harm.
             </div>
         </div>
     </div>
     <br />
     <br />
     <hr />

     <!--Section 2-->
     <div class="article-subtitle">
         <strong>2: Average self-harm based on gender </strong>
     </div>
     <br />
     <br />
     <div class="row">
         @*<div class='tableauPlaceholder' id='viz1617265042067' style='position: relative'>
            <noscript><a href='#'><img alt='Average Hospitation Due to Self-Harm Based Sex for Each State ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;Sexratio_16172478454010&#47;sexratio&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Sexratio_16172478454010&#47;sexratio' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;Sexratio_16172478454010&#47;sexratio&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-GB' /><param name='filter' value='publish=yes' /></object>
        </div>
        <script type='text/javascript'>
            var divElement = document.getElementById('viz1617265042067'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>*@

         <div class='tableauPlaceholder' id='viz1618228206892' style='position: relative'><noscript>< a href=' '>< img alt='Percentage of Hospitalisation Due to Self-Harm Based on Sex  ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Vi&#47;Vis1_16173400125590&#47;sexratio&#47;1_rss.png' style='border: none' /></ a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Vis1_16173400125590&#47;sexratio' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Vi&#47;Vis1_16173400125590&#47;sexratio&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-GB' /><param name='filter' value='publish=yes' /></object></div>
         <script type='text/javascript'>var divElement = document.getElementById('viz1618228206892'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

     </div>
     <br />
     <br />
     <div class="row" style="text-align:center">
         <div style="background-color:lightgrey;border:solid">
             <p >
                 <font size="4">
                     Sadly, there are many deaths causes due to the abuse. People commit suicide in various way. Below  it is a representation of death rate based on various methods.
                 </font>
             </p>
         </div>
     </div>
     <br />
     <hr />
     <!--Section 3-->
     <div class="article-subtitle">
         <strong>3: Death Types</strong>
     </div>
     <br />
     <div class="row">
         @*<div class='tableauPlaceholder' id='viz1617265149233' style='position: relative'><noscript><a href='#'><img alt='Average Death Type Rate for Each Gender ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;DeathRate_16172476227770&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='DeathRate_16172476227770&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;DeathRate_16172476227770&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-GB' /><param name='filter' value='publish=yes' /></object></div>
        <script type='text/javascript'>var divElement = document.getElementById('viz1617265149233'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>*@

         <div class='tableauPlaceholder' id='viz1618233749835' style='position: relative'><noscript>< a href=' '>< img alt='Average Death Type Rate for Each Gender ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;DeathRate_16172476227770&#47;Sheet1&#47;1_rss.png' style='border: none' /></ a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='DeathRate_16172476227770&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;DeathRate_16172476227770&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-GB' /></object></div>
         <script type='text/javascript'>var divElement = document.getElementById('viz1618233749835'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

     </div>
     <br />
     <div class="row">
         <div style="border:solid; background-color:lightgrey">
             <div style="text-align:center">
                 <font size="4">
                     Hanging is one of the most common methods that has been used to commit
                     suicide every year.
                 </font>
             </div>
         </div>
     </div>
     
     
     <br />
     <div class="row" style="text-align:center">
         <div style="background-color:powderblue;border:solid">
             <p>
                 <font size="4">
                     Let us stop the abuse so our elderly can live happily. The effects of abuse are so severe sometimes it  is not even visible by younger people and that leads the elderly to take these hurtful attempts.
                 </font>
             </p>
         </div>
     </div>
 </div>

