@{
    ViewBag.Title = "Types of elder abuse";
}

<link href="~/Content/Peiyuan-Defined css.css" rel="stylesheet" />


<div class="sub-module">
    <ul class="breadcrumb">
        <li><a href="/Home">Home</a></li>
        <li><a href="/Home/ElderAbuseInformation">Elder Abuse Info</a></li>
        <li class="active">Types of Elder Abuse</li>
    </ul>
    <div class="article">
        Display the content of the article ↓
    </div>
    <audio controls="controls">
        <source src="~/Audio/Types.mp3" type="audio/mp3" />
    </audio>
    <!--Title-->
    <div class="row">
        <br><br><br>
        <div class="col-md-6">
            <div class="article-title" style="font-size:xx-large"><i>Types Of Elder Abuse</i></div>
            <div class="article" style="text-align:justify">
                Older adults become physically and mentally weakened as they age, their ability to respond to bullying and aggression also becomes weaker. The forms of elder abuse include not only physical but also mental torture and neglect.<br>
                In this section we will list 6 common types of elder abuse.
            </div>
        </div>

        <div class="col-md-6">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/JXR9BKvDhWc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">
        <hr>
        <div class="col-md-6">
            <div class="article-subtitle">1.Physical abuse</div>
        </div>
        <div class="col-md-6">
            <div class="article">
                Physical abuse includes hitting, assaulting, violating an older person's wishes, inappropriate drug use, restraining, and keeping lights closed. Attacks and injures the body of an elderly person, causing them pain or injury.
            </div>
        </div>
    </div>

    <div class="row">
        <hr>
        <div class="col-md-6">
            <div class="article-subtitle">
                2.Emotional or psychological abuse
            </div>
        </div>
        <div class="col-md-6">
            <div class="article">
                <p>
                    Emotional and mental health distress is caused by the words people say and the way they are treated.<br />
                    Forms of emotional abuse include:
                </p>
                <ul>
                    <li>roar</li>
                    <li>blame</li>
                    <li>humiliate or ridicule</li>
                </ul>
                <p>Psychological abuse includes:</p>
                <ul><li>ignore</li><li>isolated</li><li>threat</li></ul>
            </div>
        </div>
    </div>

    <div class="row">
        <hr />
        <div class="col-md-6">
            <div class="article-subtitle">
                3. The sexual abuse
            </div>
        </div>
        <div class="col-md-6">
            <div class="article">
                Sexual contact with older persons without their consent and consent. Sexual abuse includes physical sex, showing older people pornographic material, forcing them to watch videos of sexual acts and forcing them to strip naked.
            </div>
        </div>
    </div>

    <div class="row">
        <hr />
        <div class="col-md-6">
            <div class="article-subtitle">
                4. Neglect and abandon
            </div>
        </div>
        <div class="col-md-6">
            <div class="article">
                Caregiver neglect and abandonment are relatively common types of elder maltreatment reported, both intentional and unintentional.
            </div>
        </div>
    </div>

    <div class="row">
        <hr />
        <div class="col-md-6">
            <div class="article-subtitle">
                5. Financial deprivation

            </div>
        </div>
        <div class="col-md-6">
            <div class="article">
                To deprive, occupy and use the property and funds of the elderly without their consent and authorization.
            </div>
        </div>
    </div>

    <div class="row">
        <hr>
        <div class="col-md-6">
            <div class="article-subtitle">
                6. Medical fraud and abuse
            </div>
        </div>
        <div class="col-md-6">
            <div class="article">
                <li> Doctors, nurses and other health care workers defraud the elderly for high medical bills.</li>
                <li> Abuse of power, unnecessary prescriptions, deceptive overtreatment, and overcharging.</li>
                <li>Health insurance fraud</li>
            </div>
        </div>
    </div>
    <hr />
    <div>
        Resource:<br>
        <a href="https://homeinstead.com.au/news/6-types-elder-abuse/">https://homeinstead.com.au/news/6-types-elder-abuse/</a><br>
    </div>

</div>
